//宣告
//函數


//==== 位移 ===
// @mixin top{}
@mixin top($top , $left: null) {
    position: relative;
    top: $top;
    left: $left;
}

//呼叫 top
.logo {
    @include top(0px);
}
@mixin layout(){
  @if $w==100{

    width: 100%;
    @include center();

  }@else if $w<100{

    width: $w*1%;
    @include center();

  }@else{

    width: $w+px;
    margin: 0 auto;
    @include center();
    
  }
}

nav {
    @include top(0px);
}

@mixin center(){
    margin: auto;
}

// 判斷式
@mixin layout($w) {
    @if $w ==100 {
        width: 100%;
    }
    @else if $w < 100 {
        width: $w *1%;
        @include center();
    }
    @else {
        width: $w +px;
        @include center();
    }
}




