//宣告
//函數


//==== 位移 ===
// @mixin top{}
@mixin top($top){
    position: relative;
    top: $top;
}

//呼叫 top
.logo {
  @include top(5px);
}
nav {
 @include top(10px);
}
@mixin layout(){
  @if $w==100{

    width: 100%;
    @include center();

  }@else if $w<100{

    width: $w*1%;
    @include center();

  }@else{

    width: $w+px;
    margin: 0 auto;
    @include center();
    
  }
}

